*{
   margin: 0;
    padding: 0;
}
.container {
    display: block;
    background-color: lightblue;
    height: 100vh;
    text-align: center;
    

}

.green{
    background-color: green;
    height: 100px;
}

.blue {
    background-color: blue;
    height: 200px;
    display: inline-block;
    width: 50vw;
}
.yellow {
    background-color: yellow;
    height: 200px;
     display: inline-block;
    width: 49vw;
}


